<form action="/signUp/create" method="POST">

<label>username</label>
<input type="text" name="username">

<label>Password</label>\
<input type="text" name="password">

<button>Sign Up</button>
</form>