<h2>Add New Celebrity</h2>
<form method="POST" action="/celebrities/create-celeb">
  <label> name </label>
  <input name="name" type="text">
  <label> occupation </label>
  <input name="occupation" type="text">
  <label> catch phrase </label>
  <input name="catchPhrase" type="text">
   <button> Save</button>
</form>
