

  <label> name </label>
  <input name="name" type="text" id="quick-name">
  <label> occupation </label>
  <input name="occupation" type="text" id = "quick-occupation">
  <label> catch phrase </label>
  <input name="catchPhrase" type="text" id="quick-catchPhrase">
  <button id="quick-add-btn"> Save</button>



<div id = "containerOfCelebrities">
 
</div>